logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
dump.rdb
*.hashed.*
*.min.*
*.debug.*
*.js
app/assets.json
${workspaceFolder}
!.eslintrc.js
!prettier.config.js
!config/proxy.js
!app/proxy/*
!app/proxy_class/**
